GOOGLE_API_KEY=AIzaSyCW2MdnRVIWtH-jVeR5nvQWzmIY5-__FtM
GROQ_API_KEY=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
QDRANT_HOST=localhost
QDRANT_PORT=6333
DOCS_COLLECTION=docs
CHAT_MEMORY_COLLECTION=chat_memory
EMBEDDING_MODEL=models/gemini-embedding-001
CHAT_MODEL=openai/gpt-oss-20b
RERANKER_MODEL=cross-encoder/ms-marco-MiniLM-L6-v2
CHAT_HISTORY_DB=sqlite:///chat_history.db
